svg {
  display: block;
}

.form__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
}
.form__section {
  display: table-row;
}
.form__heading {
  display: table-cell;
  font-weight: normal;
}
.form__heading:after {
  content: ':';
  padding-left: .3em;
}
.form [class$="input"] {
  width: 20em;
}
